body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    color: #2E2F42;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav li, a {
    color: #2E2F42;
}

nav>a {
    text-transform: uppercase;
}

nav span {
    color: #4D5AE5;
}

address li {
    color: #2E2F42;
}

.hero {
    background-color: #2E2F42;
    height: 600px;
}

.hero h1 {
    color:#FFFFFF;
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 2%;
}

.hero button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
}

footer a {
    color: #F4F4FD;
}

footer>a {
    text-transform: uppercase;
}

footer span {
    color: #4D5AE5;
}